<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<appConfig type="EXTRACT_FIX" format="XML" isVerbose="false">
    <fixerFolder>/tmp/bats-run-B7VUUD/test/4</fixerFolder>
    <wikiPath>https://github.com/veraPDF/veraPDF-validation-profiles/wiki/</wikiPath>
    <policyFile></policyFile>
</appConfig>
